.inputs {
    width: 205px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 43px;
    width: 600px;
    margin-top: 10px;
}

.inputs2 {
    width: 205px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 38px;
    width: 600px;
    margin-top: 10px;
}

.container {
    margin-top: 10px;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* table,
tr,
td {
    border: 0.5px solid gray;
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table {
    margin-top: 30px;
    margin-left: 15px;
}

td {
    height: 50px;
}  */

.content {
    margin: 10px 2px;
    text-align: left
}

.buttons {
    margin-top: 10px;
}

#building {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 43px;
    width: 600px;
    margin-top: 10px;
    margin-left: 100px;
}

#business {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 43px;
    width: 600px;
    margin-top: 10px;
    margin-left: 50px;
}